.aman{
    background-color:#f2f2f2;
}


.abc{
    margin-top: 160px;
    font-size:55px;
}

.okk{
    text-align: center;
    font-size: 35px;
    margin-left: 45px;
}

.ccc{
    font-size: 15px;
    
}

.ddd{
    margin-left: 19px;
}

.bbb{
    margin-top:10px;
}

.rrr{
    box-shadow:0px 0px 3px gray;
    
}
.xxx{
    margin-top: 139px;
}

.www{
    margin-top: 101px;
}

.uuu{
    margin-top: 163px;
}

.vvv{
    margin-top:15px;
}

.qsa{
    background-color: #e7e7e7;
}

.asdf{
    margin-top:200px ;
}

.as{
    margin-top:60px;
}

.df{
    margin-top:60px;
}

.gh{
    margin-top:35px;
}

.jk{
    margin-top:95px;
}

.bi{
    font-size: 30px;
}

ul{
    list-style: none;
    
}
